.social-icons {
    display: none;
}
.links {
    height: 0;
    
    transition: var(--transition);
}
.show-links {
    height: 10rem;
}
@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
}